<form [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="title">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="description" placeholder="description">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="releaseDate" placeholder="releaseDate">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="studio" placeholder="studio">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="genre" placeholder="genre">
    </mat-form-field>
  </div>


  <button mat-button (click)="addAnime()">Add anime</button>
</form>
