<form [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="title" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="description" placeholder="description" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="releaseDate" placeholder="releaseDate" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select formControlName="studio">
        <mat-option *ngFor="let studio of (studioList$ | async)" [value]="studio?.name">{{ studio?.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput formControlName="genre" placeholder="genre" required>
    </mat-form-field>
  </div>

  <button mat-button (click)="addAnime()" *ngIf="!data">Add anime</button>
  <button mat-button (click)="editAnime()" *ngIf="data" [disabled]="form.pristine">Edit anime</button>
</form>

